{% extends "base.html" %}

{% block title %}Skystore - {{ product.name }}{% endblock %}

{% block header %}
<h1 class="display-4">{{ product.name }}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-4">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="card box-shadow">
            <div class="card-body">
                <h2 class="card-title pricing-card-title">$ {{ product.price }}</h2>
                <p class="lead">{{ product.description }}</p>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-lg btn-outline-primary">Купить</button>
                    <a href="{% url 'catalog:home' %}" class="btn btn-lg btn-outline-secondary">
                        Назад в каталог
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
